.App {
  text-align: center;
}



body {
  font-family: sans-serif;
  font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.text-box {
  font-family: sans-serif;
  font-weight: bold;

}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
}

.btn:hover {
    transform: translateY(-1px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
    font-family: sans-serif !important;
    font-weight: bold !important;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .1s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    /* transform: scaleX(1.4) scaleY(1.6); */
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

#DataTable {
  position:relative;
  padding: 15px;
  box-sizing: border-box;
}

table { 
  width: 100%; 
  border-collapse: collapse; 
}

th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
  cursor: cell;
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
  box-sizing: border-box;
}

tr:nth-of-type(odd) { 
  background: #eee; 
}

	@media
	  only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {

      table {
        margin-top: 106px;
      }
		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
      overflow: auto;
      border-bottom: 1px solid #ccc;
    }
      
      
      
      tbody tr:before {
        counter-increment: my-sec-counter;
        content: "";
        background-color:#333;
        display: block;
        height: 1px;
      }

      
    tr:nth-child(odd) {
      background: #ccc;
    }
    
		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
      margin-right: 0%;
      display: block;
      border-right: 1px solid #ccc;
      border-left: 1px solid #ccc;
      box-sizing:border-box;
		}

		td:before {
			/* Top/left values mimic padding */
      font-weight: bold;
			width: 50%;
      float:left;
      box-sizing:border-box;
      padding-left: 5px;
		}

		/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		td:nth-of-type(1):before { content: "First Name"; }
		td:nth-of-type(2):before { content: "Last Name"; }
		td:nth-of-type(3):before { content: "Job Title"; }
		td:nth-of-type(4):before { content: "Favorite Color"; }
		td:nth-of-type(5):before { content: "Wars of Trek?"; }
		td:nth-of-type(6):before { content: "Secret Alias"; }
		td:nth-of-type(7):before { content: "Date of Birth"; }
		td:nth-of-type(8):before { content: "Dream Vacation City"; }
		td:nth-of-type(9):before { content: "GPA"; }
		td:nth-of-type(10):before { content: "Arbitrary Data"; }
    
    .box ul.pagination {
      position: relative !important;
      bottom: auto !important;
      right: auto !important;
      display: block !important;
      width: 100%;
    } 
      
    .box {
      text-align: center;
      position: fixed;
      width: 100%;
      background-color: #fff;
      top: 0px;
      left:0px;
      padding: 15px;
      box-sizing: border-box;
      border-bottom: 1px solid #ccc;
    }
      
    .box ul.pagination {
      display: block;
      margin: 0px;
    }
      
     .box .dvrecords {
      display: block;
       margin-bottom: 10px;
    }
    .pagination>li {
        display: inline-block;
    }
	}

.top-filters {
  font-size: 0px;
}

.search-field {
  text-align: right;
  margin-bottom: 5px;
}

.dd-number-of-recoeds {
  font-size: 12px;
}

.search-field,
.dd-number-of-recoeds {
  display: inline-block;
  width: 50%;
}

.box ul.pagination {
  position: absolute;
  bottom: -45px;
  right: 15px;
}

.box .dvrecords {
  padding: 5px 0;
}

.box .dvrecords .records{
  margin-right: 5px;
}

.navbar-border {
  border-bottom: 1px solid gray;
}

.nav-link {
  margin-top: 5px;
  text-transform: capitalize;
}

.brand-image {
  margin: 0 15px !important;
}


a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
}

